<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_StorageServices">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://paulwuax7-ctp8aos.cloudax.dynamics.com/soap/services/storageservicegroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_StorageServices"
                contract="StorageServices.StorageServices" name="BasicHttpBinding_StorageServices" />
        </client>
    </system.serviceModel>
</configuration>