<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- Client settings -->
    
    <add key="Input Directory" value="C:\temp\input" />
    <add key="InProcess Directory" value="C:\temp\inprocess" />
    <add key="Error Directory" value="C:\temp\error" />
    <add key="Success Directory" value="C:\temp\success" />
    <add key="Status Polling Interval" value="20000" />
    
    <!-- Server side settings -->    
    
    <add key="Aad Tenant" value="YOUR AZURE ACTIVE DIRECTORY TENANT NAMESPACE" />
    <add key="Azure Auth Endpoint" value="https://login.windows.net" />
    <add key="Azure Client Id" value="YOUR NATIVE CLIENT APP ID" />
    <add key="Rainier Uri" value="AX7 RESOURCE URI (AX7 ENDPOINT URI)" />
    <add key="User" value="VALID AX7 USER ALIAS (AAD USER NAME FOR A VALID AX7 USER)" />
    <add key="Password" value="PASSWORD FOR THE USER" />
    
    <!-- Data transfer settings -->
    
    <add key="Recurring Job Id" value="00000000-0000-0000-0000-000000000000" />
    <add key="Entity Name" value="Customer groups" />
    <add key="Is Data Package" value="false" />
    <add key="Use Company" value="true" />
    <add key="Company" value="USMF" />
    <add key="Use FileName As ExternalCorrelation" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>